.main_container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display_container{
    box-sizing: border-box;
    border: 6px solid rgb(231, 28, 28);
    width: 25vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
    padding: 2%;
    overflow: hidden;
}
.flex_container{
    box-sizing: border-box;
    border: 1px solid red;
    background-color: rgb(196, 196, 196);
    box-sizing: border-box;
    width: 25vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 920px) {
    .flex_container {
      width: 75vw;
      height: 50vh;
    }
    .display_container{
      width: 75vw;
    }
  }
.flex_item{
    box-sizing: border-box;
    border: 1px solid red;
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
}
.flex_item:hover{
    background-color: rgb(233, 230, 230) ;
    cursor: pointer;
}